// * Максимальная ширина макета
$container-width: 1810;

:root {
  // * Colors
  --dark: #222222;
  --white: #fff;
  --mine-shaft: #2b2b2b;
  --trendy-green: #8b8b1a;
  --barberry: #e7e61a;
  --tundora: #4b4b4b;
}
